.formGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.label {
  text-align: start;
  color: #333333;
}

.input {
  padding: 0.25rem;
  border: 0.063rem solid #cccccc;
  border-radius: 0.25rem;
  color: #333333;
  height: 2rem;
}

.input:focus {
  outline: 0.125rem solid #007bff;
  border-color: #007bff;
}

.error {
  color: #ff0000;
  font-size: 0.875rem;
  text-align: start;
}

.textArea {
  border: 0.063rem solid #cccccc;
  border-radius: 0.25rem;
  color: #333333;
}
